* {
  color: aliceblue;
  background-color: #040304;
}
body {
  width: 90%;
  margin: 0px 40px;
}
h1 {
  margin-left: 93px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo a {
  text-decoration: none;
  color: black;
}
.list1 {
  display: inline-block;
  margin: 0px 30px;
  cursor: pointer;
  font-size: 20px;
}
ul {
  margin-top: 34px;
  margin-right: 50px;
}
.pi {
  width: 70px;
  border: 1px solid slategrey;
  transition: all 0.2s linear 0.01s;
}
.pi:hover {
  transform: scale(1.1);
}
.pi1 {
  width: 500px;
}
.button1 {
  background-color: #d00000;
  padding: 8px 23px;
  margin: 5px 10px;
  border-radius: 2px;
  border: none;
}
.container-l {
  display: flex;
  justify-content: space-around;
  margin: 40px 0px;
  padding: 0px 20px;
}
.position {
  position: relative;
  bottom: 119px;
  left: 308px;
  background-color: rgb(82, 129, 12);
  padding: 1px 5px;
  border-radius: 2px;
  width: fit-content;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5em;
  justify-content: center;
  margin-left: 75px;
}
.figure1 {
  border: 1px solid #484547;
  margin: 3px;
  text-align: center;
}
.img1 {
  width: 200px;
}
.sideheadbutton {
  margin: 33px 50px;
  text-align: center;
}
.button2 {
  padding: 10px 91px;
  margin: 2px 76px;
  border: none;
  border-radius: 2px;
  transition: all 0.2s linear 0.01s;
}
.button2:hover {
  background-color: #d00000;
}
.table2 {
  margin: 45px 208px;
  padding: 23px 6px;
  text-align: start;
  opacity: 0.8;
}
.tr2 {
  margin: 2px 2px;
  padding: 2px 2px;
}
td {
  margin: 2px 2px;
  padding: 8px 35px;
}
.icon1 {
  color: #d00000;
  margin-top: 8px;
  padding-top: 1px;
  cursor: pointer;
}
.p1 {
  color: rgb(82, 129, 12);
}
p {
  opacity: 0.8;
}
h2 {
  opacity: 0.8;
}
del {
  margin-left: 5px;
}
.th1 {
  border: 1px solid #484547;
  margin: 2px 2px;
  padding: 2px 2px;
  width: 176px;
  opacity: 0.8;
}
.h21 {
  text-align: center;
  margin: 05em;
}
.button3 {
  width: 80%;
  padding: 9px 10px;
  margin: 10px 0px;
  border: none;
  border-radius: 2px;
  background-color: #d00000;
}
h3 {
  opacity: 0.8;
  font-size: 20px;
}
footer {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.gopi {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}
.l6 {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  margin: 2px 0px;
}
.p7 {
  margin-top: 1px;
}
.input2 {
  background-color: aliceblue;
  padding: 5px;
}
.input3 {
  background-color: #d00000;
  padding: 5px 20px;
}

/* cart page */

.parent {
  display: flex;
  justify-content: space-between;
  margin: 70px 32px;
  margin-bottom: 116px;
}
.parent .div1 {
  width: 60%;
  height: 40em;
  overflow-y: scroll;
  overflow-x: none;
}
.div1::-webkit-scrollbar {
  display: none;
}
img {
  width: 200px;
}
.figure2 {
  display: flex;
  justify-content: space-around;
}
.ion1 {
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.hr2 {
  opacity: 0.5;
  color: #484547;
}
.div4 {
  text-align: start;
}
.span2 {
  padding: 5px 10px;
  background-color: rgb(73, 75, 75);
  cursor: pointer;
}
.span3 {
  color: #d00000;
  padding: 5px 10px;
}
.table3 {
  margin-top: 20px;
  padding: 10px 10px;
  text-align: start;
}
.tr3 {
  opacity: 0.8;
  margin: 1px 1px;
  padding: 5px 10px;
  display: table-row;
}
.td3 {
  color: rgb(82, 129, 12);
}
.total {
  font-size: 25px;
  text-align: center;
  margin: 26px 5px;
  padding-left: 40px;
  opacity: 0.8;
}
.price1 {
  padding: 3px 32px;
}
.button4 {
  width: 80%;
  background-color: #d00000;
  padding: 8px 10px;
  margin-left: 41px;
  border-radius: 2px;
}
.Order1 {
  margin-left: 30px;
}
hr {
  opacity: 0.8;
}
